/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
  font-style: italic;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid purple;
  margin-top: 10px;
  
}
#item{
  width: 300px;
  height: 350px;
  margin: auto;
  background-color: #efefef;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 8px gray;
  #name{
    font-weight: 900;
    font-size: 2rem;
  }
  p{
    font-size: 1.3rem;
  }
}

