/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
  font-style: italic;
}

